<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary">
    <h4>Thank you for your order!</h4>
    <p>Email: <%= @order.email %></p>

    <% @order.line_items.each do |line_item| %>
      <%= render partial: 'line_item', locals: { line_item: line_item } %>
    <% end %>
  </div>

  <div class="order-total">
    <strong>Final Amount:</strong> <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
  </div>
  <%= link_to "Start a New Order", root_path, class: 'btn btn-lg btn-primary' %>

</section>